.basic-box {
    display: grid;
    width: 50px;
    height:50px;
    background: #bac;
    margin: 1rem;
    place-items: center;
    border: 3px solid black;
  }
  
  .go-btn, .go-btn2 {
    background: #8c9;
    border-radius: 50%;
    border: 2px solid black;
  }
  
.mover1 {
    transition: all 1s ease-in-out;
    transform: translateX(400px);
  }
  
.mover2 {
    position:relative;
    animation-name:example;
    animation-duration:4s;
    border: 3px solid black;

}

@keyframes example{
    0%{
        background-color:rgb(255, 114, 199); left:0px; top:0px;
    }
    25%{
        background-color:rgb(255, 255, 146); left:200px; top:0px;

    }
    50%{
        background-color:rgb(130, 255, 188); left:200px; top:200px;
    }
    75%{
        background-color:rgb(130, 213, 255); left:50px; top:200px;
    }
    90%{
        background-color:rgb(251, 124, 255); left:50px; top:2px;
    }
    100%{
        background-color: #bac; left:0px; top:0px;
    }
}
  